.searchInput {
  width: auto;
  padding-left: 10px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid black;
}

.searchBtn {
  border-radius: 4px;
  border: none;
  color: rgb(20, 20, 20);
  padding: 2px 4px;
  background-color: rgb(232, 223, 223);
}

form {
  display: flex;
  max-width: 1500px;
  align-items: center;
}
.contInput {
  display: flex;
  gap: 10px;
  align-items: center;
}
